
name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Master
        uses: actions/checkout@master
      - name: Use Node
        uses: actions/setup-node@master
        with:
          registry-url: https://registry.npmjs.org/
          scope: getify
      - name: Install Dependencies using Yarn
        run: yarn install
      - name: Build
        run: yarn build
      - name: Test
        run: yarn test
      - name: Release Canary
        run: yarn ci:release:canary


